.settings__setting {
    padding:  20px 0;
    border-bottom: var(--main-border);
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}
.settings__settin-column:last-child {
   opacity: 0.8; 
   margin-right: 20px;
}
